* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

*:hover,
*:focus {
    outline: none;
}

/* .chat {
    width: 100%;
    max-width: 800px;
    height: calc(100vh - 50px);
    min-height: 100%;
    padding: 15px 30px;
    margin: 0 auto;
    overflow-y: scroll;
    background-color: #fff;
    transform: rotate(180deg);
    direction: rtl;
} */
    .chat__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    }
    .chat__message {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    color: #000;
    background-color: #e6e7ec;
    max-width: 600px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin: 15px 0;
    word-break: break-all;
    /* transform: rotate(180deg); */
    direction: ltr;
    }

    .chat__message::after {
        content: "";
        width: 20px;
        height: 12px;
        display: block;
        background-image: url("https://stageviewcincyshakes.firebaseapp.com/icon-gray-message.e6296433d6a72d473ed4.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        bottom: -2px;
        left: -5px;
    }
    .chat__own_message {
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 25px;
        color: #000;
        background-color: #00a9de;
        max-width: 600px;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        margin-left: auto;
        word-break: break-all;
        /* transform: rotate(180deg); */
        direction: ltr;
    }
    .chat__own_message::after {
        content: "";
        width: 19px;
        display: block;
        height: 13px;
        left: inherit;
        right: -5px;
        background-image: url("https://stageviewcincyshakes.firebaseapp.com/icon-blue-message.2be55af0d98ee2864e29.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
    }
    

.message {
    position: relative;
    width:75%;
}

#chatHeader {
    /* background-color: beige; */
   backdrop-filter: blur(5px);
}
/* }
.chat {
    width: 100%;
    max-width: 800px;
    height: calc(100vh - 50px);
    min-height: 100%;
    padding: 15px 30px;
    margin: 0 auto;
    overflow-y: scroll;
    background-color: #fff;
    transform: rotate(180deg);
    direction: rtl;
}
.chat__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.chat__message {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 25px;
    color: #000;
    background-color: #e6e7ec;
    max-width: 600px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin: 15px 0;
    word-break: break-all;
    transform: rotate(180deg);
    direction: ltr;
    
}

.chat__message::after {
    content: "";
    width: 20px;
    height: 12px;
    display: block;
    background-image: url("https://stageviewcincyshakes.firebaseapp.com/icon-gray-message.e6296433d6a72d473ed4.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: -2px;
    left: -5px;
}
.chat__message_own {
    color: #fff;
    margin-left: auto;
    background-color: #00a9de;
}

.chat__message_own::after {
    width: 19px;
    height: 13px;
    left: inherit;
    right: -5px;
    background-image: url("https://stageviewcincyshakes.firebaseapp.com/icon-blue-message.2be55af0d98ee2864e29.png");
} */

